<div class="container">

	<div class="row text-center ">
	 <div class="col-sm-6 ">
	 <div class="row">
	 	 <div class="col-sm-6 container home_image">
	 	 	<img src="images/logo.png" alt="">
	 	 </div>
	 	 <div class="col-sm-6 ">bal</div>

	 </div>
	 </div>
	  <div class="col-sm-6">bal</div>
	</div>




	<!-- upload image  -->
<!--  <div ng-controller="logoController"> -->
        <!-- <div ng-repeat="step in stepsModel">
            <img class="thumb" ng-src="{{step}}" />
        </div>
        <input type='file' ng-model="imageUpload(this)" /> -->
    <!-- </div> -->
</div>
