<div>
    <div class="row text-center ">
        <div class="col-sm-6 ">
            <div class="row">
                <div class="col-sm-6 ">
                    <img class="home_image" src="images/images.jpg" alt="">
                </div>
                <div class="col-sm-6 news_container" id="data">gdf 
                dfgdfg 
                dfgdfg 
                dfgdfg dfgd
                fgdfgggd dfgdfgd
                fgdfggggdfdf aaaaaa
                aaaaaaaaaaaaaa erewrtttttttttttttt 
                fgggd dfgdfg
                dfgdfggggdfdf aaaaaaaaaaaaaaaaaaaa
                 erewrtttttttttttttt yyuuuuuuuuu
                 uuuuuu bbbbbbbbbbbbbbb kkkkkkkkkkk rrrrrrrrrrr
                    <button ng-click="pageScroll()">click me</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">

            bal
        </div>
    </div>
    <!-- upload image  -->
    <!--  <div ng-controller="logoController"> -->
    <!-- <div ng-repeat="step in stepsModel">
            <img class="thumb" ng-src="{{step}}" />
        </div>
        <input type='file' ng-model="imageUpload(this)" /> -->
    <!-- </div> -->
    <!-- neenubaliv neenuarun	 -->
</div>
<!-- var elem = document.getElementById('data');
  elem.scrollTop = elem.scrollHeight; -->


  
